.title-tooltip {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #457dfb;
  font-size: 0.7em;
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 2em;
  left: calc(50% - 8em);
  text-align: center;
  width: 16em;
  z-index: 10;
  opacity: 0;
  transform: translateY(-0.25em);
  /* Prevent blocking interaction with content behind this element */
  visibility: hidden;

  /* This transition applies when the tooltip is leaving (mouseout) */
  transition: visibility 0s 0.5s, opacity 0.2s ease-out,
    transform 0.5s cubic-bezier(0, 1, 0.5, 1);
}

/* tooltip arrow */
.title-tooltip::after {
  content: '';
  border-style: solid;
  border-color: #457dfb transparent;
  border-radius: 0;
  border-width: 0.2em 0.2em 0 0.2em;
  position: absolute;
  bottom: -0.2em;
  left: calc(50% - 0.2em);
  width: 0;
}

.anchor-tooltip:hover .title-tooltip {
  opacity: 1;
  transform: none;
  visibility: visible;

  /* This transition applies when the tooltip is appearing (mouseover) */
  transition: opacity 0.2s ease-out, transform 0.5s cubic-bezier(0, 1, 0.5, 1);
}
